*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:bisque;
    font-family: 'Roboto';
}

body{
    background: rgb(253, 239, 222);
    text-align: center;
}

.clicker-title{
    padding: 50px;
    color: rgb(92, 90, 90);
    font-weight: bold;
    font-size: 50px;
}
.clicker-wrapper{
    margin: 150px 250px;
    margin-top: 0;
    background: rgba(0, 61, 53, 0.432);
    border-radius: 25px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.493);
}

.clicker-container{
    text-align: center;  
}

.clicker-overall{
    padding-top: 15px;
}

.clicker-button{
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.493);
    cursor: pointer;
    margin: 25px;
    border: none;
    background: transparent;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/computer.png);
}

.clicker-button:active{
    background-size: 80%;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.493);
}

.clicker-image{
    height: 15em;
}


/* CLICKER STORE */

.clicker-wrapper-store{
    display: flex;
    flex-wrap: wrap;
    border-top: 3px solid rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    margin-top: 5px;
}

.clicker-wrapper-store div p{
    font-size: 22px;
    color: white;
    font-weight: bold;
}


.clicker-store-title{
    text-align: center;
}


.clicker-store-button-internet{
    background: transparent;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/internet.png");
}

.clicker-store-button-energyDrink{
    background: transparent;
    background-size: 79%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/energy-drink.png");
}

.clicker-store-button-keyboard{
    background: transparent;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/question-mark.png");
}

.clicker-store-button-database{
    background: transparent;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/question-mark.png");
}



.clicker-wrapper-store div button{
    border: none;
    height: 150px;
    width: 150px;
    margin: 15px 35px;
    border-radius: 100%;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.493);
    filter: grayscale(100%);
}

.clicker-wrapper-store div button:active{
    background-size: 75%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.493);

}

.clicker-wrapper-store > div{
    width: 25%;
    text-align: center;
}

section > h4{
    padding-bottom: 10px;
}




/* TABLET CSS */
@media screen and (max-width: 1400px){
    .clicker-title{
        padding: 10px;
        padding-bottom: 0;
        color: rgb(92, 90, 90);
        font-weight: bold;
        font-size: 50px;
    }
    .clicker-wrapper{
        margin: 20px;
    }

    .clicker-wrapper-store div{
        width: 50%;
        padding-bottom: 25px;
        padding-top: 15px;
    }
}


/* PHONE CSS */
@media screen and (max-width: 700px){
    .clicker-title{
        padding: 25px;
        color: rgb(92, 90, 90);
        font-weight: bold;
        font-size: 50px;
    }
    
    .clicker-wrapper{
        margin: 20px;
    }
    
    
    .clicker-wrapper-store div{
        width: 100%;
        padding-bottom: 50px;
        padding-top: 5px;
    }
}


/* KINDA RESPOSIVE IF minus 300px*/
@media screen and (max-width: 300px) {
    body {
        min-width: 300px;
    }
  }